.table-card {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-areas: "orders orders orders orders orders orders family type  items items items";
}

.orders-sect {
  position: relative;
  background-color: antiquewhite;
  grid-area: orders;
  margin: 30px 30px;
  border-radius: 9px;
  display: inline-block;
  height: fit-content;
  max-height: 77vh;
  overflow: auto;
  bottom: 0;
}

.orders-sect-paid {
  position: relative;
  background-color: antiquewhite;
  grid-area: orders;
  margin: 30px 30px;
  border-radius: 9px;
  color: rgba(0, 0, 0, 0.564);
  height: fit-content;
}

.tb-head {
  margin-top: 10px;
}

.tb-title {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  margin: 5px 25px;
  margin-right: 0px;
  margin-bottom: 25px;
  padding: 1px 5px;
}

.tb-num {
  display: inline-block;
  font-family: "Dancing Script", cursive;
  border: 1px solid grey;
  margin: 5px 5px;
  margin-right: 25px;
  padding: 1px 5px;
  position: absolute;
  right: 1px;
  font-weight: 700;
  font-size: 20px;
}

.tb-total {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: larger;
  margin: 5px 10px;
  margin-right: 15px;
  padding: 1px 5px;
  position: absolute;
  right: 1px;
}

.tb-foot {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: larger;
  margin: 5px 5px;
  margin-left: 25px;
  margin-bottom: 5px;
  padding: 1px 5px;
}

.lv {
  font-size: small;
}

.btn-cont {
  display: flex;
  justify-content: right;
}

.btn-dis {
  pointer-events: none;
}

.btn-green {
  text-align: right;
  margin: 10px 10px;
  background-color: #00896f;
  color: antiquewhite;
  display: inline-block;
  border: none;
  pointer-events: none;
  border-radius: 2px;
  padding: 1px 5px;
  font-size: x-small;
}

/* setting new button styles */

.btn-paid {
  margin: 10px 20px;
  padding: 5px 10px;
  background-color: rgba(220, 20, 60, 0.727);
  color: antiquewhite;
  border: 0 solid #e5e7eb;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  position: relative;
  cursor: pointer;
}

.btn-paid:focus {
  outline: 0;
}

.btn-paid:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 2px;
  left: 3px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.btn-paid:hover:after {
  bottom: 1px;
  left: 1px;
}

.btn-paid:active {
  box-shadow: inset 0px 2px 4px 2px rgba(0, 0, 0, 0.15),
    inset 0px 4px 8px rgba(0, 0, 0, 0.15),
    inset 0px 8px 16px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
  transform: translateY(2px);
  background-color: crimson;
}

.btn-dis,
.btn-tables {
  margin: 10px 10px;
  padding: 5px 20px;
  background-color: #b0a8b9c8;
  color: antiquewhite;
  border: 0 solid #e5e7eb;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  position: relative;
  cursor: pointer;
}

.btn-tables:focus {
  outline: 0;
}

.btn-tables:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 2px;
  left: 3px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.btn-tables:hover:after {
  bottom: 1px;
  left: 1px;
}

.btn-tables:active {
  box-shadow: inset 0px 2px 4px 2px rgba(0, 0, 0, 0.15),
    inset 0px 4px 8px rgba(0, 0, 0, 0.15),
    inset 0px 8px 16px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
  transform: translateY(2px);
  background-color: #b0a8b9;
}

.btn-clear {
  margin: 10px 10px;
  padding: 5px 10px;
  position: relative;
  right: 220px;
  background-color: #845ec2e6;
  color: antiquewhite;
  border: 0 solid #e5e7eb;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  cursor: pointer;
}

.btn-clear:focus {
  outline: 0;
}

.btn-clear:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 2px;
  left: 3px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.btn-clear:hover:after {
  bottom: 1px;
  left: 1px;
}

.btn-clear:active {
  box-shadow: inset 0px 2px 4px 2px rgba(0, 0, 0, 0.15),
    inset 0px 4px 8px rgba(0, 0, 0, 0.15),
    inset 0px 8px 16px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
  transform: translateY(2px);
  background-color: #845ec2d7;
}

@media screen and (max-width: 900px) {
  .table-card {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
  }

  .orders-sect,
  .orders-sect-paid {
    background-color: antiquewhite;
    margin: 0 auto;
    border-radius: 0px;
    display: block;
    height: fit-content;
    max-height: fit-content;
    overflow: auto;
    bottom: 0;
    width: 95vw;
  }

  .tb-foot,
  .tb-num,
  .tb-total {
    margin-right: 12px;
  }

  .tb-num {
    margin-right: 20px;
  }

  .tb-title,
  .tb-foot {
    margin-left: 12px;
  }

  .btn-paid,
  .btn-tables,
  .btn-clear {
    padding: 10px 20px;
  }

}