.stock-item {
  background-color: #ddd7c6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "name name quantity price . . .";
  margin-bottom: 2.5px;
  /* position: sticky; */
  border: 1px solid rgba(128, 128, 128, 0.479);
  border-radius: 3px;
  align-items: baseline;
}

.stock-item__name {
  display: inline;
  grid-area: name;
  margin: 5px 10px;
}

.stock-item__info {
  display: inline;
  border: none;
  cursor: pointer;
  justify-self: right;
  background-color: #ddd7c6;
  margin-left: 30px;
  margin-right: 3px;
}

.stock-item__edit {
  display: inline;
  border: none;
  cursor: pointer;
  justify-self: center;
  background-color: #ddd7c6;
}

.stock-item__delete {
  display: inline;
  border: none;
  cursor: pointer;
  justify-self: right;
  background-color: #ddd7c6;
}

.stock-item__quantity {
  display: inline;
  grid-area: quantity;
  margin: 5px;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.stock-item__quantityType {
  display: inline;
  margin: 5px 4px;
}

.stock-item__price {
  display: inline;
  grid-area: price;
  margin: 5px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .stock-item__edit {
    display: inline;
    border: none;
    cursor: pointer;
    justify-self: center;
    background-color: #ddd7c6;
    padding-right: 10px;
  }

  .stock-item__name {
    font-size: 19px;
  }

  .stock-item__quantity,
  .stock-item__quantityType,
  .stock-item__price {
    font-size: 17px;
  }
}

@media screen and (max-width: 460px) {
  .stock-item__quantity {
    font-size: 15px;
  }

  .stock-item__price {
    font-size: 17px;
  }

  .stock-item__edit {
    padding: 4px;
  }

  .lv,
  .stock-item__quantityType {
    font-size: 10px;
  }
}

@media screen and (max-width: 380px) {
  .stock-item__name {
    margin: 5px 10px;
  }

  .stock-item__quantity {
    font-size: 15px;
    margin: 5px 0px;
  }

  .stock-item__quantityType {
    margin: 5px 4px;
  }

  .lv {
    display: none;
  }

  .stock-item__edit {
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* padding-top: 7px; */
  }
}

@media screen and (max-width: 310px) {
  .stock-item {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "name name name price price";
    margin-bottom: 2.5px;
    /* position: sticky; */
    border: 1px solid rgba(128, 128, 128, 0.479);
    border-radius: 3px;
  }

  .stock-item__quantity,
  .stock-item__quantityType,
  .stock-item__delete {
    display: none;
  }

  .stock-item__price {
    margin: 5px 0;
  }

  .stock-item__edit {
    padding-right: 0;
  }
}
