.err-login {
  text-decoration: none;
  color: #27ae60;
}

.err-signup {
  text-decoration: none;
  color: #0089ba;
}

.table-error {
  padding: 10px;
  margin: 150px auto;
  text-align: center;
  width: 60%;
  color: crimson;
  background-color: rgba(223, 118, 139, 0.104);
  border-radius: 4px;
  box-sizing: border-box;
  border: 2px solid rgba(220, 20, 60, 0.76);
}

.show-form {
  width: 300px;
  margin-right: 30px;
  text-align: center;
  position: relative;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  border: none;
  background: white;
  height: 180px;
  font-size: 18px;
  border-radius: 9px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.152);
}

.show-form:hover {
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15),
    inset 0px 4px 8px rgba(0, 0, 0, 0.15),
    inset 0px 8px 16px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
  transform: translateY(2px);
}

.show-form:active {
  transition: all ease 0.2s;
  box-shadow: inset 0px 15px 9px 0px #27ae60;
}

@media screen and (max-width: 900px) {
  .show-form {
    margin-right: 0px;
  }
}

@media screen and (max-width: 300px) {
  .show-form {
    width: 240px;
  }
}

@media screen and (max-width: 250px) {
  .show-form {
    width: 95vw;
  }
}