.acc {
  font-family: Dosis, sans-serif;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "blog blog form form details";
}

.acc-details {
  grid-area: details;
  text-align: left;
  margin-left: 60px;
}

.acc-form {
  grid-area: form;
  text-align: right;
  margin-top: 50px;
}

.acc__name {
  margin-bottom: 30px;
  margin-top: 50px;
}

.acc__name-icon {
  display: inline-block;
  margin-right: 10px;
}

.acc__name-label {
  display: inline-block;
}

.acc__name-name {
  font-size: 18px;
  font-weight: 600;
}

.msform {
  width: 300px;
  text-align: center;
  position: relative;
  font-family: "Poppins", sans-serif;
  display: inline-block;
}

.msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.152);
  padding: 20px 30px;
  box-sizing: border-box;
  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
.msform fieldset:not(:first-of-type) {
  display: none;
}

.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 15px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/*inputs*/
.msform input,
.msform select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 13px;
}

/*buttons*/
.msform .action-button {
  width: 100px;
  background: #27ae60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}

.msform .action-button:hover,
.msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
}

.msform .input-error {
  border: 2px solid rgba(220, 20, 60, 0.76);
}

.error {
  padding: 10px;
  /* border: 1px solid crimson; */
  color: crimson;
  border-radius: 3px;
  box-shadow: 0 0px 3px 1px rgba(21, 23, 20, 0.185);
  font-size: smaller;
  display: inline-block;
  width: 300px;
  background-color: white;
  background-color: rgba(218, 88, 114, 0.097);
  vertical-align: middle;
  margin-top: 10px;
  text-align: center;
}

/*/////////////////////////////////////////////////////*/

.posts-cont {
  grid-area: blog;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  margin: 50px auto 20px 40px;
}

.blog-list-row {
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.079); */
  display: grid;
  gap: 10px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.left-info {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.center-info {
  word-wrap: break-word;
  text-align: justify;
  /* float: left; */
  display: inline-block;
  width: 50%;
}

.right-info {
  float: right;
  width: 10%;
  /* display: inline-block; */
}

.date-published {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.author-cont,
.post-icons {
  display: flex;
  gap: 10px;
}

.edit,
.delete {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .acc {
    font-family: Dosis, sans-serif;
    display: flex;
    justify-content: center;
  }

  .posts-cont {
    display: none;
  }

  .acc-details {
    padding-right: 60px;
    margin-left: 0;
  }

  .acc-form {
    margin-top: 50px;
  }

  .msform {
    width: 250px;
  }
}

@media screen and (max-width: 900px) {
  .acc {
    font-family: Dosis, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .posts-cont {
    display: none;
  }

  .acc__name {
    margin-top: 30px;
  }

  .acc-details {
    text-align: center;
    padding-right: 0;
  }

  .acc-form {
    margin-top: 30px;
    text-align: center;
  }

  .msform {
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .msform {
    width: 350px;
  }
}

@media screen and (max-width: 380px) {
  .msform {
    width: 300px;
  }

  .msform fieldset {
    padding: 20px 15px;
  }
}

@media screen and (max-width: 320px) {
  .msform {
    width: 270px;
  }
}

@media screen and (max-width: 300px) {
  .msform {
    width: 220px;
  }
}

@media screen and (max-width: 230px) {
  .msform {
    width: 190px;
  }
}
