.image {
    background: url('../../public/images/home.jpg');
    width: 100vw;
    height: calc(100vh - 94px);
    background-size: cover;
    background-position: center;
    position: relative;
}



.title {
    color: aliceblue;
    font-size: 46px;
    background-color: rgba(0, 0, 0, 0.779);
    display: inline-block;
    padding: 30px 50px;
    position: absolute;
    bottom: 5vh;
    right: 0;
    border-top-left-radius: 130px;
}

.image span {
    font-family: "Dancing Script", cursive;
    font-size: 58px;
}

@media screen and (max-width: 900px) {
    .image {
        width: 100%;
        animation: moveInRight 1s ease-out;
    }

    .title {
        font-size: 28px;
        background-color: rgba(0, 0, 0, 0.779);
        display: inline-block;
        padding: 30px 50px;
        position: absolute;
        bottom: 5vh;
        right: 0;
        border-top-left-radius: 130px;
        animation: moveInRight 1s ease-out;
    }

    .image span {
        font-family: "Dancing Script", cursive;
        font-size: 44px;
        animation: moveInRight 1s ease-out;
    }

    @keyframes moveInRight {
        0% {
            opacity: 0.8;
            transform: translateX(1rem);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}