.msform {
  width: 590px;
  text-align: center;
  position: relative;
  font-family: "Exo 2", sans-serif;
}

.msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.152);
  padding: 25px 30px 15px 30px;
  box-sizing: border-box;
  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
.msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
.msform input,
.msform textarea,
.msform select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 17px;
  font-family: "Lato", sans-serif;
}

/*buttons*/
.msform .action-button {
  width: 100px;
  background: #27ae60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  margin-top: 20px;
  text-decoration: none;
  font-size: 14px;
}

.msform .action-button:hover,
.msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
}

/*headings*/
.fs-title {
  font-size: 19px;
  /* text-transform: uppercase; */
  color: #2c3e50;
  margin-bottom: 25px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #27ae60;
  color: white;
}

.error {
  padding: 10px;
  /* border: 1px solid crimson; */
  color: crimson;
  border-radius: 3px;
  /* box-shadow: 0 0px 3px 1px rgba(21, 23, 20, 0.185); */
  font-size: smaller;
  display: inline-block;
  width: 300px;
  background-color: white;
  background-color: rgba(218, 88, 114, 0.097);
  vertical-align: middle;
  margin-top: 10px;
  text-align: center;
  /* width: -webkit-fill-available; */
  width: 100%;
}

.msform .input-error {
  border: 2px solid rgba(220, 20, 60, 0.76);
}

.label-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  font-size: medium;
  padding-left: 1px;
  line-height: 1.1;
  color: #666;
}

@media screen and (max-width: 700px) {
  .msform {
    width: 490px;
  }
}

@media screen and (max-width: 580px) {
  .msform {
    width: 390px;
  }
}

@media screen and (max-width: 480px) {
  .msform {
    width: 340px;
  }
}

@media screen and (max-width: 420px) {
  .msform {
    width: 290px;
  }
}

@media screen and (max-width: 380px) {
  .msform {
    width: 240px;
  }
}

@media screen and (max-width: 330px) {
  .msform {
    width: 220px;
  }
}

@media screen and (max-width: 300px) {
  .msform {
    width: 180px;
  }
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  cursor: pointer;
  font-size: large;
  padding: 1px 5px 3px 5px;
  background-color: #d1cdc244;
  border: 4px solid #d1cdc200;
}

.modal-close:hover {
  box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.2);
}