.order-cont {
  border-radius: 7px;
  margin-bottom: 13px;
  padding: 10px 15px 25px 15px;
  display: flex;
  justify-content: space-between;
}

.order-cont {
  border: solid 2px darkgoldenrod;
}

.order-info {
  display: flex;
  gap: 30px;
  align-items: baseline;
}

.order-name {
  font-size: 20px;
  font-weight: 500;
}

.order-ready {
  background-color: #fff;
  border-color: transparent;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 500;
  padding: 0 20px;
  box-shadow: 0px -2px 5px 1px rgba(0, 255, 255, 0.7);
}

.order-ready:hover {
  background-color: darkgoldenrod;
  color: white;
  border: none;
  box-shadow: none;
}

.order-ready:active {
  box-shadow: inset 0px 2px 4px 2px rgba(0, 0, 0, 0.15),
    inset 0px 4px 8px rgba(0, 0, 0, 0.15),
    inset 0px 8px 16px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
  transform: translateY(2px);
  background-color: darkgoldenrod;
}

.order-table {
  font-family: "Dosis", sans-serif;
}

.order-count {
  font-size: 14px;
  font-weight: 400;
  display: inline;
}

.order-ingr {
  display: flex;
}

@media screen and (max-width: 1300px) {

  .order-ingr {
    width: 250px;
  }
}

@media screen and (max-width: 1100px) {

  .order-info {
    display: flex;
    gap: 15px;
    text-align: left;
    align-items: baseline;
  }

  .order-ingr {
    width: 200px;
  }

  .order-ready {
    background-color: #fff;
    border-color: transparent;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    padding: 0 10px;
    box-shadow: 0px -1px 1px 1px rgba(0, 255, 255, 0.7);
  }
}

@media screen and (max-width: 900px) {

  .order-cont {
    border-radius: 5px;
    margin-bottom: 13px;
    padding: 10px 10px 15px 10px;
  }

  .order-info {
    display: flex;
    gap: 15px;
    text-align: left;
    align-items: baseline;
  }

  .order-name {
    font-size: 18px;
    text-align: left;
  }

  .order-ingr {
    text-align: left;
    width: 200px;
  }

  .order-ready {
    background-color: #fff;
    border-color: transparent;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    padding: 0 10px;
    box-shadow: 0px -1px 1px 1px rgba(0, 255, 255, 0.7);
  }
}

@media screen and (max-width: 430px) {
  .order-cont {
    flex-direction: column;
  }

  .order-ready {
    border-radius: 3px;
    font-size: 18px;
    font-weight: 500;
    padding: 0 8px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 330px) {

  .order-name {
    font-size: 16px;
  }

  .order-ingr {
    width: 150px;
  }

}

@media screen and (max-width: 280px) {

  .order-quantity {
    display: none;
  }

  .order-ingr {
    width: 100px;
  }

}