.order-cont {
  border-radius: 7px;
  margin-bottom: 7px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.order-cont {
  border: solid 2px darkseagreen;
}

.order-info {
  display: flex;
  gap: 30px;
  align-items: baseline;
}

.order-name {
  font-size: 20px;
  font-weight: 500;
}

.order-count {
  font-size: 14px;
  font-weight: 400;
  display: inline;
}

.order-ready {
  background-color: #fff;
  border-color: transparent;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 500;
  padding: 0 20px;
  /* box-shadow: 0px -2px 5px 1px rgba(255, 0, 72, 0.7); */
}

.order-ready:hover {
  background-color: rgb(184, 11, 57);
  color: white;
  border: none;
  box-shadow: none;
}

.order-ready:active {
  box-shadow: inset 0px 2px 4px 2px rgba(0, 0, 0, 0.15),
    inset 0px 4px 8px rgba(0, 0, 0, 0.15),
    inset 0px 8px 16px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
  transform: translateY(2px);
  background-color: rgb(184, 11, 49);
}

.order-table {
  font-family: "Dosis", sans-serif;
}

@media screen and (max-width: 900px) {

  .order-cont {
    border-radius: 5px;
    margin-bottom: 13px;
    padding: 10px 10px 25px 10px;
    display: flex;
    justify-content: space-between;
  }
}