@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Dosis:wght@200;400;700&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Montserrat:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap");
@import url("tables/tables.css");
@import url("tables/table.css");
@import url("tables/family.css");
@import url("tables/items.css");
@import url("items/itemsList.css");
@import url("blog.css");

.error {
  color: crimson;
  padding: 30px 30px;
}

.header {
  position: sticky;
  top: 0;
  background-color: rgb(240, 239, 237);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.deli {
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  margin-right: 20px;
}

.nav {
  list-style-type: none;
}

.nav__auth {
  display: flex;
}

.nav__item,
.nav__item-auth {
  font-size: 24px;
  /* border: 1px solid grey; */
  padding: 5px 0;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  border-radius: 2px;
  display: inline-block;
  /* margin-right: 40px; */
  margin-bottom: 5px;
  width: 140px;
  text-align: center;
}

.nav__item-auth {
  padding: 5px 15px;
  width: 100px;
  border: none;
}

button.nav__item-auth {
  /* border: 1px solid black; */
  border-radius: 2px;
  font-style: normal;
  margin-left: 10px;
}

.nav__item:hover:nth-child(1),
.nav__item-auth:hover {
  box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  /* background-color: rgba(255, 255, 255, 0.24); */
}

.nav__item-on {
  margin: 0 20px;
  font-size: 24px;
  border: 1px solid grey;
  padding: 5px 45px;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.24);
}

.nav__auth__email {
  margin-right: 60px;
  font-size: 22px;
  font-family: Dosis, sans-serif;
}

.links {
  color: inherit;
  text-decoration: inherit;
  cursor: auto;
}

.nav__auth > .links {
  margin: auto;
}

.marker {
  color: rgba(66, 168, 110, 0.785);
}

.marker:hover {
  color: rgb(19, 123, 26);
}

.trash {
  color: rgba(220, 20, 60, 0.381);
}

.trash:hover {
  color: rgb(220, 20, 60);
}

.info {
  color: #016387be;
  font-size: large;
}

.info:hover {
  color: #0b323f;
}

.table-error {
  padding: 10px;
  margin: 150px auto;
  text-align: center;
  width: 45%;
  color: crimson;
  background-color: rgba(223, 118, 139, 0.104);
  border-radius: 4px;
  box-sizing: border-box;
  border: 2px solid rgba(220, 20, 60, 0.76);
}

.u-email {
  margin: auto;
  padding: 10px 20px;
  cursor: pointer;
}

.u-email:hover {
  box-shadow: 2px 0px 0px rgba(0, 0, 0, 0.5);
  /* background-color: rgba(255, 255, 255, 0.24); */
}

/* User Details*/

:root {
  --primary: #27ae60;
  --error: crimson;
}

.users {
  width: 600px;
  margin: 40px auto;
}

.user-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.user-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  /* color: var(--primary); */
}

.user-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.user-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.anchor-mail {
  text-decoration: none;
  color: orange;
}

.deli-blog {
  font-family: "Dancing Script", cursive;
  font-size: 26px;
}

.chef {
  color: darkgoldenrod;
}

.chef:hover {
  color: white;
  background-color: darkgoldenrod;
}

.tables:hover {
  color: white;
  background-color: rgb(46, 139, 86);
}

@media screen and (max-width: 900px) {
  .main {
    margin: 0 7px;
  }
  .header {
    flex-direction: column;
    justify-content: flex-start;
    margin: 7px auto;
    padding: 20px 0px;
    padding-bottom: 3px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: inherit;
    width: 95vw;
  }

  #tables {
    margin: 0 7px;
    text-align: center;
    color: white;
    background-color: rgb(46, 139, 86);
  }

  #items {
    margin: 0 7px;
    text-align: center;
  }

  #chef {
    margin: 0 7px;
    text-align: center;
    color: white;
    background-color: darkgoldenrod;
  }

  #login {
    margin: 0 7px;
    text-align: center;
  }

  #signup {
    margin: 0 7px;
    text-align: center;
    color: white;
    background-color: #0089ba;
  }

  .chef {
    color: white;
  }

  #staff {
    display: none;
  }

  #auth {
    flex-direction: row;
    margin: 0 7px;
    padding: 3px 0;
  }

  .u-email:hover {
    box-shadow: none;
    /* background-color: rgba(255, 255, 255, 0.24); */
  }

  .nav__auth {
    flex-direction: column;
  }

  .deli {
    display: none;
  }

  .iL-buttons-sect,
  .iL-main {
    flex-direction: column;
  }

  .nav__item:hover:nth-child(1),
  .nav__item-auth:hover {
    box-shadow: none;
    cursor: pointer;
    /* background-color: rgba(255, 255, 255, 0.24); */
  }
}
