.blog-cont {
  display: flex;
  width: 81%;
  margin: 50px auto;
  position: relative;
}

.posts-cont {
  display: flex;
  flex-direction: column;
  padding-right: 100px;
  width: 70%;
  overflow: hidden;
}

.form-cont {
  width: 30%;
  margin-left: auto;
  position: fixed;
  top: 150px;
  right: 60px;
}

.blog-list-row {
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.079); */
  display: grid;
  gap: 10px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.left-info {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.post-name {
  font-size: 24px;
  padding-bottom: 7px;
}

.post-name:hover {
  color: #0e9c7e;
}

.center-info {
  word-wrap: break-word;
  text-align: justify;
  /* float: left; */
  display: inline-block;
  width: 50%;
}

.right-info {
  float: right;
  width: 10%;
  /* display: inline-block; */
}

.date-published {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.author-cont,
.post-icons {
  display: flex;
  gap: 10px;
}

.edit,
.delete {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#deli,
#u-email,
#tables,
#items,
#chef,
#messages,
#staff,
#login,
#signup,
#table-num {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

#err-login {
  text-decoration: none;
  color: #27ae60;
}

#err-signup {
  text-decoration: none;
  color: #0089ba;
}

#email-link {
  text-decoration: none;
  color: orange;
  cursor: pointer;
}

#phone-link {
  text-decoration: none;
  color: grey;
  cursor: pointer;
}

#phone-link:hover {
  text-decoration: none;
  color: orange;
  cursor: pointer;
}

.form-group textarea {
  height: 200px;
}

@media screen and (max-width: 900px) {
  #u-email {
    pointer-events: none;
  }
}