.iL-buttons-sect {
  display: flex;
  width: 75%;
}

.iL-family-sect {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 25px;
}

.iL-type-sect {
  text-align: left;
  margin-top: 12px;
  margin-left: 35px;
}

.iL-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.iL-items {
  margin: 25px 40px;
  margin-bottom: 0px;
  max-height: 56vh;
  overflow: auto;
  display: inline-block;
  width: 85%;
}

.iL-form {
  margin-top: 25px;
  justify-self: start;
}

@media screen and (max-width: 900px) {
  .iL-family-sect {
    flex-direction: row;
    margin: auto;
  }

  .family-btn-drinks {
    margin-top: 17px;
  }

  .iL-buttons-sect {
    width: 100%;
  }

  .iL-type-sect {
    text-align: left;
    margin-top: 12px;
    margin-left: 0px;
    padding-left: 0px;
  }

  .iL-main {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
  }

  .iL-items {
    margin: 25px 40px;
    margin-bottom: 0px;
    max-height: 100vh;

    display: inline-block;
    width: inherit;
  }

  .iL-form {
    margin: 25px auto;
    justify-self: start;
  }
}
