.iL-buttons-sect {
  display: flex;
  width: 95%;
}

.iL-family-sect {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 80px;
}

.iL-type-sect {
  text-align: left;
  margin-top: 12px;
  margin-left: 70px;
}

.iL-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 30px;
}

.iL-items {
  margin: 25px 40px;
  margin-bottom: 0px;
  margin-left: 80px;
  max-height: 64vh;
  overflow: auto;
  display: inline-block;
  width: 85%;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
}

.iL-items::-webkit-scrollbar {
  width: 24px;
  /* width of the entire scrollbar */
}

.iL-items::-webkit-scrollbar-track {
  background: transparent;
  /* color of the tracking area */
}

.iL-items::-webkit-scrollbar-thumb {
  background-color: #a599778d;
  /* color of the scroll thumb */
  border-radius: 16px;
  /* roundness of the scroll thumb */
  border: 6px solid lightgray;
  /* creates padding around scroll thumb */
}

.iL-form {
  margin-top: 25px;
  justify-self: center;
}

@media screen and (max-width: 1200px) {
  .iL-family-sect {
    margin-left: 50px;
  }

  .iL-items {
    margin-left: 50px;
  }
}

@media screen and (max-width: 900px) {
  .iL-family-sect {
    flex-direction: row;
    margin: auto;
  }

  .family-btn-drinks,
  .family-btn-food {
    margin-top: 30px;
  }

  .iL-buttons-sect {
    width: 100%;
  }

  .iL-type-sect {
    text-align: center;
    margin-top: 12px;
    margin-left: 0px;
    padding-left: 0px;
  }

  .iL-main {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 25px;
  }

  .iL-items {
    margin: 0 15px;
    margin-bottom: 0px;
    max-height: 100%;

    display: inline-block;
    width: inherit;
  }

  .iL-form {
    margin: 25px auto;
    justify-self: start;
  }
}

@media screen and (max-width: 220px) {
  .iL-family-sect {
    flex-direction: column;
    margin: 0 auto;
  }

  .family-btn-food {
    margin: 10px auto;
  }

  .iL-items {
    margin: 0 5px;
  }
}